@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
/* font-family: 'Gayathri', sans-serif; */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  background: #21527b;
  color: #434343;
  font-family: 'Saira', sans-serif;
}

header {
  background: #032541;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  transition: all linear 0.25s;
  width: 100vw;
  z-index: 3;
}

header.active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
}

header h1 {
  background: linear-gradient(to right, #8fcea1, #01b3e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 36px;
  transition: all linear 0.25s;
  margin: 0;
}

header.active h1 {
  font-size: 26px;
  line-height: 26px;
}

header .buttons button {
  background-color: transparent;
  border: 2px solid #01b3e4;
  border-radius: 10px;
  color: #01b3e4;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  margin: 0 10px;
  padding: 0.5rem 1rem;
  transition: all linear 0.25s;
}

header.active .buttons button {
  padding: 0.25rem 0.5rem;
}

header .buttons button:hover {
  background: #01b3e4;
  color: #fff;
}

.busca {
  background-color: transparent;
  border: 2px solid #01b3e4;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  padding: 0.5rem 1rem;
  transition: all linear 0.25s;
}

header.active .busca {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  form {
    margin-top: 30px;
    width: 100%;
  }

  .busca {
    width: 100%;
  }
}

.busca::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.busca:focus {
  border-color: #8fcea1;
  outline: none;
}

#main {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

.filme {
  align-items: center;
  background: #fff;
  border: 2px solid #01b3e4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.filme:hover {
  border-color: #8fcea1;
}

.filme img {
  width: 100%;
}

.filme .info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.filme .info h3 {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.filme .info span {
  background: #22254b;
  border-radius: 5px;
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}

.filme .info span.vermelho {
  color: #e55454;
}
.filme .info span.laranja {
  color: orange;
}
.filme .info span.verde {
  color: #4ac74a;
}

.sinopse {
  background-color: #fff;
  padding: 18px;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.sinopse h3 {
  margin-top: 0;
}

.filme:hover .sinopse {
  transform: translateY(0);
}

/* MODAL */
#modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
  z-index: 4;
}

#modal.show {
  display: flex;
}

.modal-content {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-content #fechar {
  background-color: #21527b;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 25px;
}

.modal-content img {
  border-radius: 10px;
  max-width: 275px;
}

.modal-content .text {
  margin-left: 20px;
  width: 500px;
}

.modal-content .text h2 {
  display: block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.modal-content .text #overview {
  display: block;
  margin-top: 20px;
}
